# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE (PyCharm, VS Code)
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Test & coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# Secrets
*.env